.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #8F8EBF77;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    border-radius: 20px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    font-size: small;
}


.popup-inner .addMemberButton {
    color: white;
    border-radius: 100%;
    font-size: small;
    border: none;
    background-color: #474073;
    width: 30px;
    height: 30px;

    position:absolute;
    top: 16px;
    right: 16px;
}

.popup h3 {
    color:#474073;
}

.popUpForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hobbies {
    display: flex;
}

.hobbyList {
    display: flex;
    flex-direction: column;
    
}



.occu {
    display: flex;
}

.occuList {
    display: flex;
    flex-direction: column;
    
}


.formItems {
    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #474073;
}

input {
    width: 300px;
    margin: 10px;
}

.listLabel {
    margin:10px;
}

.submitButton {
    margin: 10px;
    background-color: #474073;
    color: white;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
}