.member-page {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.img-section {
    width: 100%;
    height: 100%;
  }

  .img-profile {
    /* The image used */
    background-image: url("./images/JodieHols.png");

    /* Set a specific height */
    min-width: 1000vh;
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .left-section {
    width: 100%;
    height: 200px;
    background-color: #474073;
    color: white;
  }

  .right-section {
    width: 100%;
    height: 200px;
    background-color: white;
    color: #474073;
  }